.form {
	box-shadow: 0 0 3.063em rgba(45, 45, 45, 0.31);
	border-radius: 0.625em;
	padding: 3.9em 2.8em 0.6em;
	border: 0.063em solid rgba(166, 166, 166, 0.28);
	font-family: "Museo Sans Cyrl 500";
	text-align: center;
	color: #111212;
	background-color: #fff;
	@extend %clear_a;
	&__row {
		margin-bottom: 15px;
		@extend %clear_a;
		input:not([type]),
		input[type=text],
		input[type=password],
		input[type=email],
		input[type=url],
		input[type=search],
		input[type=tel],
		input[type=number],
		input[type=datetime], 
		textarea,
		.btn {
			width: 100%;
		}
		textarea {
			max-width: 100%;
			max-width: 100%;
			min-height: 15px;
		}
	}
	&__legend {
		font-family: "Gotham Pro";
		font-size: 3em;
		font-weight: 700;
		letter-spacing: -0.001em;
		margin-bottom: .1em;
	}
	&__sub {
		font-size: 1.188em;
		margin-bottom: 2.6em;
	}
	&__row {
		margin-bottom: 1.8em;
		position: relative;

	}
	&__label {
		font-size: 1.063em;
		display: block;
		margin-bottom: 0.5em;
	}
	&__input {
	}
	&__action {
		margin-bottom: 2.2em;
	}
	&__privacy {
		font-size: 0.8em;
		a {
			text-decoration: none;
			color: #111212;
			font-family: "Museo Sans Cyrl 700";
			&:hover {
				text-decoration: underline;
			}
		}
		&.invalid {
			color: #fe4d4d;
			a {
				color: #fe4d4d;
			}
			input[checkbox] {
				border-color: #fe4d4d;
			}
		}
	}
	.btn {}
	.btn_form {}
	@media (max-width: 767px) {
	    font-size: 1.2em;
	}
}

fieldset {
	border: none;
	padding: 0;
	// margin: 0;
}

// Input text and textarea ================================================
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
	padding: 1.7em 2em;
	text-align: center;
	outline: none;
	color: #111212;
	font-size: 1.1em;
	font-weight: 400;
	font-family: "Museo Sans Cyrl 300";
	border-radius: 0.625em;
	transition: all .3s;
	&:hover {
		border: 1px solid #cecece;
		background-color: #fff;
		@include placeholder {
			color: #111212;
		}
	}
	&:focus {
		border: 1px solid #f5cd14;
		background-color: #fff;
	}
	&.invalid {
		background-color: #fff;
		border: 1px solid #fe4d4d;
		color: #fe4d4d;
		@include placeholder {
			color: #fe4d4d;
		}
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: #666666;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
    text-align: center;
    position: relative;
	&:not(:disabled),
	&:not(:disabled) {
	    cursor: pointer;
	}
	&:before,
	&:before {
	    display: block;
	}
	&:disabled,
	&:disabled {
	    border-color: #ddd;
	}
}

input[type=radio] {
    border-radius: 50%;
	&:checked:before {
	    content: '';
	    width: 6px;
	    height: 6px;
	    top: 50%;
	    left: 50%;
	    margin-top: -3px;
	    margin-left: -3px;
	    display: block;
	    position: absolute;
	    border-radius: 50%;
	    background: #000;
	}
	&:disabled:checked:before {
	    background-color: #aaa;
	}
}

input[type=checkbox] {
	border-radius: 3px;
	margin-right: 5px;
	&:checked {
		background: url('../img/check.png') no-repeat center center;
		background-size: 90%;
	}
	&:checked:before,
	&:indeterminate:before {
	    content: "";
	    font-size: 12px;
	    -webkit-font-smoothing: antialiased;
	    text-align: center;
	    line-height: 13px;
	    color: #000;
	}

	&:indeterminate:before {
	    content: "\f068";
	}
	&:disabled:checked:before,
	&:disabled:indeterminate:before {
	    color: #aaa;
	}
}





